*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  font-family: Arial, sans-serif;
}

/* HOME CSS */
.main-div-home{
  height: 470px;
  width: 100%;
  font-size: xx-large;
  font-weight: bolder;
}
